*{
    font-family: Arial;
    vertical-align: middle;
    margin-left: 10px;
}

a{
    text-decoration: none;
}

label{
    margin-right: 10px;
    font-weight: bolder;
}

input{
    text-indent: 5px;
    margin-bottom: 5px;
    height: 30px;
}

p{
    font-weight: bolder;
    color: #f00;
    margin: 0;
    text-indent: 10px;
    font-size: 0.8rem;
    display: none;
}

select{
    height: 30px;
    margin-bottom: 5px;
    text-indent: 5px;
    width: 150px;
}
option{
    text-indent: 5px;
}

input[type=button]{
    border-radius: 7px;
    padding: 5px 15px;
    border: none;
    color: #fff;
    background: rgb(245, 180, 3);
    font-weight: bolder;
    box-shadow: 2px 3px #9a9a9a;
}